<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form action="/board" method="post">
		<ul>
      <li>아이디: <input type="text" name="id"></li>
			<li>이름: <input type="text" name="name"></li>
			<li>제목: <input type="text" name="title"></li>
			<li>내용<br>
        <textarea name="content" cols="30" rows="10"></textarea></li>
		</ul>
    <button>등록하기</button>
	</form>
</body>
</html>